tr:hover {background-color: #f5f5f5;}
table {
  width: 100%;
  border-collapse: collapse;
}
th,td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
table, th,td{
  border: 1px solid black;
}
th {
  text-align: center;
  font-family: "楷体","serif","sans-serif";
  font-weight: normal;
  font-size: 20px;
}
td {
  height: 50px;
  vertical-align: middle;
}
h1 {
  font-family: "楷体";
  text-align: center;
}
h2 {
  font-family: "楷体";
  text-align: center;
}
.text {
  font-family: "楷体";
  font-size: 20px;
}
