<html>
{% load static %}
<link rel="stylesheet" type ="text/css" href = "{% static 'search/index_style.css' %}">
<h1>课程管理总页面</h1>
<h2>课程信息</h2>
<div style="overflow-x:auto;">
  {% if lessons %}
  <form action="{% url 'search:modify'%}" method="post">
    {% csrf_token %}
    <div style="text-align:center">
      <p class = 'text' style = 'display:inline;font-weight:bold;'>检索(','分隔)：</p>
      <input class = "text" type="text" name="keywords">
      <input class = "text" type="submit" name="search" value="检索">
    </div>
    <div style="text-align:right">
      <a class = "text" href="{% url 'search:add'%}">添加</a>
      <p class = "text" style = "display:inline;">||</p>
      <input class = "text" type="submit" name="delete" value="删除">
    </div>
    <table border = "1">
      <tr>
        <th>选择</th>
        <th>课程名称</th>
        <th>课程编号</th>
        <th>开课时间</th>
        <th>所属学院</th>
        <th>所属学校</th>
      </tr>
      {% for lesson in lessons %}
      <tr>
        <th><input type="checkbox" name="choose" id = "choose{{forloop.counter}}" value="{{lesson.id}}"></th>
        <th><a href="{% url 'search:detail' lesson.id%}">{{lesson.name}}</a></th>
        <th>{{lesson.lesson_id}}</th>
        <th>
          {% for class_time in lesson.class_time_set.all%}
            <li>星期{{class_time.day}} 时间段：{{class_time.time}} 具体时间: {{class_time.interpretation}}</li>
          {% endfor %}
        </th>
        <th>{{lesson.collage}}</th>
        <th>{{lesson.school}}</th>
      </tr>
      {% endfor %}
    </table>
  </form>
</div>
{% else %}
<p style = "text-align:center">没有可用的课程信息。</p>
{% endif %}
</html>
